<div>
  <ul class="nav nav-pills card-header-pills">
    <li class="nav-item">
      <app-element-membre class="nav-link" [membre]="membres[0]" (selectEvent)="informarMembre($event)"></app-element-membre>
    </li>
    <li class="nav-item">
      <app-element-membre class="nav-link" [membre]="membres[1]" (selectEvent)="informarMembre($event)"></app-element-membre>
    </li>
    <li class="nav-item">
      <app-element-membre class="nav-link" [membre]="membres[2]" (selectEvent)="informarMembre($event)"></app-element-membre>
    </li>
    <li class="nav-item">
      <app-element-membre class="nav-link" [membre]="membres[3]" (selectEvent)="informarMembre($event)"></app-element-membre>
    </li>
    <li class="nav-item">
      <app-element-membre class="nav-link" [membre]="membres[4]" (selectEvent)="informarMembre($event)"></app-element-membre>
    </li>
  </ul>
</div>
