.card-deck {
  text-align: center;
  margin: 30px 10%;
}

.card {
  padding: 15px;
  margin: 40px auto;
  max-width: 300px;
  min-width: 300px;
}

img {
  max-height: 200px;
}

.card-texto {
  max-height: 50px;
}
