<br>
<div class="row">
  <!-- Columna 1 -->
  <section class="col-md-4 text-justify">
    <section>
      <p class="h5 font-weight-normal">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita nemo quisquam eius ad facilis corporis adipisci, rem asperiores perferendis corrupti impedit esse quibusdam. Animi repudiandae a eius placeat, commodi veniam.
      </p>
    </section>
    <section>
      <mark>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita nemo quisquam eius ad facilis corporis adipisci, rem asperiores perferendis corrupti impedit esse quibusdam. Animi repudiandae a eius placeat, commodi veniam.
      </mark>
    </section>
    <section>
      <del>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita nemo quisquam eius ad facilis corporis adipisci, rem asperiores perferendis corrupti impedit esse quibusdam. Animi repudiandae a eius placeat, commodi veniam.
        </p>
      </del>
    </section>
    <section>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita nemo quisquam eius ad facilis corporis adipisci, rem asperiores perferendis corrupti impedit esse quibusdam. Animi repudiandae a eius placeat, commodi veniam.
      </p>
    </section>
    <section>
      <p class="text-uppercase">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita nemo quisquam eius ad facilis corporis adipisci, rem asperiores perferendis corrupti impedit esse quibusdam. Animi repudiandae a eius placeat, commodi veniam.
      </p>
    </section>
    <section>
      <p class="text-lowercase">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita nemo quisquam eius ad facilis corporis adipisci, rem asperiores perferendis corrupti impedit esse quibusdam. Animi repudiandae a eius placeat, commodi veniam.
      </p>
    </section>
  </section>
  <!-- Columna 2 -->
  <section class="col-md-4 text-center">
    <section>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita nemo quisquam eius ad facilis corporis adipisci, rem asperiores perferendis corrupti impedit esse quibusdam. Animi repudiandae a eius placeat, commodi veniam.
      </p>
    </section>
    <section>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita nemo quisquam eius ad facilis corporis adipisci, rem asperiores perferendis corrupti impedit esse quibusdam. Animi repudiandae a eius placeat, commodi veniam.
    </section>
    <section>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita nemo quisquam eius ad facilis corporis adipisci, rem asperiores perferendis corrupti impedit esse quibusdam. Animi repudiandae a eius placeat, commodi veniam.
      </p>
    </section>
    <section>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita nemo quisquam eius ad facilis corporis adipisci, rem asperiores perferendis corrupti impedit esse quibusdam. Animi repudiandae a eius placeat, commodi veniam.
      </p>
    </section>
    <section>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita nemo quisquam eius ad facilis corporis adipisci, rem asperiores perferendis corrupti impedit esse quibusdam. Animi repudiandae a eius placeat, commodi veniam.
      </p>
    </section>
    <section>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita nemo quisquam eius ad facilis corporis adipisci, rem asperiores perferendis corrupti impedit esse quibusdam. Animi repudiandae a eius placeat, commodi veniam.
      </p>
    </section>
  </section>
  <!-- Columna 3 -->
  <section class="col-md-4 text-left">
    <section>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita nemo quisquam eius ad facilis corporis adipisci, rem asperiores perferendis corrupti impedit esse quibusdam. Animi repudiandae a eius placeat, commodi veniam.
      </p>
    </section>
    <section>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita nemo quisquam eius ad facilis corporis adipisci, rem asperiores perferendis corrupti impedit esse quibusdam. Animi repudiandae a eius placeat, commodi veniam.
    </section>
    <section>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita nemo quisquam eius ad facilis corporis adipisci, rem asperiores perferendis corrupti impedit esse quibusdam. Animi repudiandae a eius placeat, commodi veniam.
      </p>
    </section>
    <section>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita nemo quisquam eius ad facilis corporis adipisci, rem asperiores perferendis corrupti impedit esse quibusdam. Animi repudiandae a eius placeat, commodi veniam.
      </p>
    </section>
    <section>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita nemo quisquam eius ad facilis corporis adipisci, rem asperiores perferendis corrupti impedit esse quibusdam. Animi repudiandae a eius placeat, commodi veniam.
      </p>
    </section>
    <section>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita nemo quisquam eius ad facilis corporis adipisci, rem asperiores perferendis corrupti impedit esse quibusdam. Animi repudiandae a eius placeat, commodi veniam.
      </p>
    </section>
  </section>
</div>
<br>
