<div id="header">
  <!-- HEADER -->
  <div class="header-blue">
      <!-- NAVBAR -->
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">MiWeb</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="" routerLink="inici" routerLinkActive="active">Inici </a>
            <a class="" routerLink="events" routerLinkActive="active">Events</a>
            <a class="" routerLink="quiSom" routerLinkActive="active">Qui som?</a>
          </div>
        </div>
      </nav>
      <!-- BANNER -->
      <div class="container hero">
          <div class="row">
              <div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-0">
                  <h1>Lorem ipsum dolor sit.</h1>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas quae recusandae hic placeat dolore, id veritatis Eum vitae consectetur voluptas esse nesciunt!</p>
                  <button routerLink="quiSom" routerLinkActive="active" class="btn btn-default btn-lg action-button" type="button">Qui som?</button>
              </div>
              <div class="col-lg-5 col-lg-offset-0 col-md-5 col-md-offset-1 hidden-xs hidden-sm phone-holder">
                  <div class="iphone-mockup"><img src="../../assets/undraw_add_tasks_mxew.svg" class="device">
                      <div class="screen"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
